<!DOCTYPE html>
<html>
<head>
	<title>Graph</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
	<div id="plot"></div>
	<script>
		var data = [
			{
				x: [{{hdd_storage|join(',')}}],
				y: [{{hdd_price|join(',')}}],
				type: 'scatter',
				name: 'HDD'
			},
			{
				x: [{{ssd_storage|join(',')}}],
				y: [{{ssd_price|join(',')}}],
				type: 'scatter',
				name: 'SSD'
			}
		];
		var layout = {
			title: 'Évolution du prix des disques durs en fonction de leur stockage',
			xaxis: {
				title: 'Stockage (en Go)',
				showgrid: true,
				zeroline: false
			},
			yaxis: {
				title: 'Prix (en euros)',
				showline: true
			}
		};
		Plotly.newPlot('plot', data, layout);
	</script>
</body>
</html>
