<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Random SSD App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Random SSD App!
        </h1>
        <h2 class="subtitle">
          What will it be today?
        </h2>
      </div>
      <br>
      <div class="container">
        <button class="button is-large" onClick="window.location.reload();">Go!</button>
      </div>
    </div>
  </section>
  <body>
  <section class="section">
    <div class="container">
        <div class="content is-medium">
            <h1>{{ SSD.name }}</h1>
            <h4>Référence : {{ SSD.asin }}</h4>
            <p>SSD/HDD : {{ SSD.keywords }}</p>
            <h5>Prix : {{ SSD.price }} €</h5>
            <p>Evaluation : {{ SSD.stars }}</p>
            <h6> Nombre d'évaluations : {{ SSD.rating_counts }}</h6>
            <p> URL du produit : {{ SSD.url }}</p>
            <h7> Capacité de stockage : {{ SSD.capacity }}</h7>
            <p>Capacité de stockage (en Go) : {{ SSD.harmonized_capacity}}</p>
        </div>
    </div>
  </section>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Random SSD App</strong>
      </p>
    </div>
  </footer>
</html>
