<!DOCTYPE html>
<html>
  <head>
    <title>SSD-HDD Data</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>ASIN</th>
          <th>Keyword</th>
          <th>Stars</th>
          <th>Rating Count</th>
          <th>URL</th>
          <th>Capacity</th>
          <th>Harmonized Capacity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row['name'] }}</td>
          <td>{{ row['asin'] }}</td>
          <td>{{ row['keyword'] }}</td>
          <td>{{ row['stars'] }}</td>
          <td>{{ row['rating_count'] }}</td>
          <td>{{ row['url'] }}</td>
          <td>{{ row['capacity'] }}</td>
          <td>{{ row['harmonized_capacity'] }}</td>
          <td>{{ row['price'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
