<!DOCTYPE html>
<html>
  <head>
    <title>Menu déroulant Flask</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <form method="POST" action="/">
      <label for="page">Sélectionner une page :</label>
      <select name="page" id="page">
        <option value="home">Accueil</option>
        <option value="table">Tableau</option>
        <option value="top_10">Top 10</option>
        <option value="graph">Graphique</option>
        <option value="text">Texte</option>
      </select>
      <button type="submit">Aller à la page</button>
    </form>
  </body>
</html>
